<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hallabong.rentcarboard.ajax.mapper.RentCarBoardAjaxMapper">
	
	
	<insert id="writeCarInsurance">
	insert into 
		carInsurance(carNo, insuranceNo, category, insurancePrice,
		insuranceAge, insuranceExperience,compensation,customerCharge)
	VALUES
		(
		#{carNo},
		SEQ_CarINSURANCE.nextval, 
		#{category}, 
		#{insurancePrice},
		#{insuranceAge}, 
		#{insuranceExperience},
		#{compensation},
		#{customerCharge}
		)
	</insert>
	
		<select id="getCompany" resultType="com.hallabong.rentcarboard.domain.RentCarCompanyVO">
	select 
		companyNo, companyName, tel, address, id
	from 
		rentcarcompany 
	where 
		companyNo = #{companyNo}
	</select>
	
	
	<update id="updateCarInsurance">
	update
		carInsurance
	set
			 carNo = #{carNo}, insuranceNo = #{insuranceNo} , category = #{category}, insurancePrice = #{insurancePrice},
			 insuranceAge = #{insuranceAge}, insuranceExperience = #{insuranceExperience} , 
			 compensation = #{compensation}, customerCharge = #{customerCharge}
	where
		insuranceNo = #{insuranceNo}
	</update>
</mapper>
