<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hallabong.rentcarboard.mapper.RentCarBoardMapper">
<!-- 리스트 불러올 내용 
companyName, company테이블 + rcc.insuranceInfo,rcc.rentCarNote,rcc.cancelAndRefund,rcc.id
carName,carTypes,carFuel,modelYears,rentAge,price, 차테이블
smoking,navigation,blackbox,rearCamera,rearSensor,frontSensor,sunroof,
bluetooth,heatingSheet,heatingHandle - 옵션테이블
리스트 전체 가져오기-->
	<select id="list" resultType="com.hallabong.rentcarboard.domain.RentCarSynthesizeDTO">
	<![CDATA[
	    select  rnum ,companyName, companyNo,
	            insuranceInfo,rentCarNote,cancelAndRefund,id,
	            carNo,carName, carTypes, carFuel,modelYears,rentAge, price,
	            smoking,navigation,blackbox,rearCamera,rearSensor,frontSensor,sunroof,
	            bluetooth,heatingSheet,heatinghandle,
	            filename,orgFileName, filesize, realsavepath
	        from (
	            select 
	            /*+ index(cars pk_cars) */
	            rownum rnum,
	                rcc.companyName, rcc.companyNo,
	                cars.insuranceInfo,cars.rentCarNote,cars.cancelAndRefund,rcc.id,
	                cars.carNo,cars.carName, cars.carTypes, cars.carFuel,cars.modelYears,cars.rentAge, cars.price,
	                cop.smoking,cop.navigation,cop.blackbox,cop.rearCamera,cop.rearSensor,cop.frontSensor,cop.sunroof,
	                cop.bluetooth,cop.heatingSheet,cop.heatinghandle,
	                cfup.filename,cfup.orgFileName, cfup.filesize, cfup.realsavepath
	            from 
	                rentcarcompany rcc,cars cars,caroption cop, car_fileupload cfup
	            where 
	            	]]>
	            	<include refid="search"/>
	            		<![CDATA[
	                rcc.companyno = cars.companyno and cop.carno = cars.carno and cars.carno = cfup.carno
	                and cars.carno >0 
	            order by rownum desc
	     )where rnum between #{startRow} and #{endRow}
	]]>
	
	
	</select>
	
	<select id="getTotalRow" resultType="long">
			select count(carNo) 
			from cars cars, rentcarcompany rcc
			where 
 			<include refid="search"/> 
				cars.companyno = rcc.companyno and carNo >0
			
	</select>
	
	<sql id="search">
		<trim prefix="(" suffix=") and" prefixOverrides="and">
		
				<!-- choose 회사이름은 있을때 작동 되게 해야함 "" like 둘다 쓸수없음 %% 유사한 것을 못써서 -->
			<if test="key != null and key != ''">
				rcc.companyName = #{key,jdbcType=VARCHAR}
			</if >
			
			<trim prefix="and" >

				cars.carname like '%' || #{word,jdbcType=VARCHAR} ||'%'
			</trim>
		
		
		</trim>
	</sql>
	
<!-- 	<select id="list" resultType="com.hallabong.rentcarboard.domain.RentCarSynthesizeDTO"> -->
<!-- 	<![CDATA[ -->
<!-- 	select  -->
<!-- 		rcc.companyName, rcc.companyNo, -->
<!-- 		cars.insuranceInfo,cars.rentCarNote,cars.cancelAndRefund,rcc.id, -->
<!-- 		cars.carNo,cars.carName, cars.carTypes, cars.carFuel,cars.modelYears,cars.rentAge, cars.price, -->
<!-- 		cop.smoking,cop.navigation,cop.blackbox,cop.rearCamera,cop.rearSensor,cop.frontSensor,cop.sunroof, -->
<!-- 		cop.bluetooth,cop.heatingSheet,cop.heatingHandle -->
<!-- 	from  -->
<!-- 		rentcarcompany rcc,cars cars,caroption cop -->
<!-- 	where  -->
<!-- 		rcc.companyno = cars.companyno and cop.carno = cars.carno  -->
<!-- 	order by cars.carno desc -->
<!-- 	]]> -->
	
	
<!-- 	</select> -->
	
	<select id="getCompany" resultType="com.hallabong.rentcarboard.domain.RentCarCompanyVO">
	select 
		rcc.companyNo, rcc.companyName, rcc.tel, rcc.address, rcc.id
	from 
		rentcarcompany rcc, cars cars
	where 
		rcc.companyNo = cars.companyNo and cars.carNo = #{carNo}
	</select>
	
	<select id="getCars" resultType="com.hallabong.rentcarboard.domain.CarsVO">
	select 
		carNo, companyNo, carName, price, gearbox, to_char(modelyears, 'yyyy-MM') modelyears, carTypes, rentAge,
		rentExperience,carFuel,carCapacity ,license,insuranceInfo ,
		rentCarNote ,cancelAndRefund,writeDate ,updateDate, id
	from 
		cars
	where 
		carNo = #{carNo}
	</select>
	<select id="getCarOption" resultType="com.hallabong.rentcarboard.domain.CarOptionVO">
	select 
		carNo ,smoking,navigation,blackbox,rearCamera,rearSensor,frontSensor,
		sunroof,bluetooth,heatingSheet,leatherSheet,ventilationSheet,carSeatPay ,carSeatFree,
		driverAirbag,passengerAirbag ,fourWheel ,smartKey,rearAutomaticDoor,freeCharge,usb,
		aux,dmb,camping
	from 
		caroption
	where 
		carNo = #{carNo}
	</select>
	<select id="getCarInsurance" resultType="com.hallabong.rentcarboard.domain.CarInsuranceVO">
	select 
		carNo, insuranceNo,category ,insurancePrice ,insuranceAge,
		insuranceExperience ,compensation, customerCharge 
	from 
		carinsurance
	where 
		carNo = #{carNo}
	</select>
	<select id="getCarFileUpload" resultType="com.hallabong.rentcarboard.domain.CarFileUploadVO">
	select 
		carNo, orgFileName, fileName, realSavePath
	from 
		car_fileupload
	where 
		carNo = #{carNo}
	</select>
	
	
	<!-- 렌트카회사 등록 -->
	<insert id="writeRentCarCompany">
	insert into 
		rentCarCompany (companyNo, companyName, tel, address,id)
	VALUES
		(seq_RentCarCompany.nextval, #{companyName},#{tel},#{address},#{id})
	</insert>
	
	
	<!-- 자동차 등록을 위한 모든 회사 정보가져오기 -->
	<select id="getAllCompany" resultType="com.hallabong.rentcarboard.domain.RentCarCompanyVO">
		select companyNo,companyName
		from rentcarcompany
	</select>
	
	
	<!-- 차량 등록후 번호리턴 -->
	<insert id="writeCarGetCarNo" >
	insert into 
		cars(carNo, companyNo, carName, price, modelYears, 
		carTypes, rentAge, rentExperience, carFuel, carCapacity,license,insuranceInfo,rentCarNote,cancelAndRefund,id)
	VALUES
		(seq_Cars.nextval,#{companyNo}, #{carName},#{price},TO_DATE(#{modelYears},'YYYY-MM'),
		#{carTypes}, #{rentAge}, #{rentExperience}, #{carFuel},#{carCapacity},#{license},
		#{insuranceInfo},#{rentCarNote},#{cancelAndRefund},#{id})
		
		<selectKey keyProperty="carNo" resultType="long" order="AFTER" >
		select seq_Cars.currval from dual
		</selectKey> 
		
	</insert>
	
	
	
	<!-- 차옵션 등록 -->
	<insert id="writeCarOption">
	insert into 
		caroption(carNo, smoking, navigation, blackbox,rearCamera,rearSensor,
		sunroof,bluetooth,heatingSheet, heatingHandle, leatherSheet, driverAirbag,smartKey,
		usb,aux,dmb)
	values(
	#{carNo}, #{smoking,jdbcType=VARCHAR}, #{navigation,jdbcType=VARCHAR}, #{blackbox,jdbcType=VARCHAR},#{rearCamera,jdbcType=VARCHAR},#{rearSensor,jdbcType=VARCHAR},
		#{sunroof,jdbcType=VARCHAR},#{bluetooth,jdbcType=VARCHAR},#{heatingSheet,jdbcType=VARCHAR}, #{heatingHandle,jdbcType=VARCHAR}, #{leatherSheet,jdbcType=VARCHAR}, #{driverAirbag,jdbcType=VARCHAR},#{smartKey,jdbcType=VARCHAR},
		#{usb,jdbcType=VARCHAR},#{aux,jdbcType=VARCHAR},#{dmb,jdbcType=VARCHAR}
	)
	</insert>
	
<!-- 	<insert id="writeCarInsurance"> -->
<!-- 	insert into  -->
<!-- 		carInsurance(carNo, insuranceNo, category, insurancePrice, -->
<!-- 		insuranceAge, insuranceExperience,compensation,customerCharge) -->
<!-- 	VALUES -->
<!-- 		(#{carNo},SEQ_CarINSURANCE.nextval, #{category}, #{insurancePrice}, -->
<!-- 		#{insuranceAge}, #{insuranceExperience},#{compensation},#{customerCharge}) -->
<!-- 	</insert> -->
	
	<insert id="writeCarFileUpload"  parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="INSERT ALL " separator=" " close="SELECT * FROM DUAL">
		into 
			car_FileUpload (carNo, orgFileName, fileName, fileSize, realSavePath)
		values
		(#{item.carNo}, #{item.orgFileName}, #{item.fileName}, #{item.fileSize}, #{item.realSavePath})
		</foreach>
	</insert>
	
	
	<!-- 차회사 수정 -->
	<update id="updateRentCarCompany">
		update 
			rentcarcompany
		set
			 companyName = #{companyName},tel = #{tel}, address = #{address}, id = #{id}
		where companyNo = #{companyNo}
	</update>
	
	<!-- 차량 수정 -->
	<update id="updateCar">
		update 
			cars
		set
			 carNo = #{carNo}, companyNo = #{companyNo} , carName = #{carName}, price = #{price},
			 modelYears = TO_DATE(#{modelYears},'YYYY-MM'), carTypes = #{carTypes} , rentAge = #{rentAge}, rentExperience = #{rentExperience},
			 carFuel = #{carFuel}, carCapacity = #{carCapacity} , license = #{license}, insuranceInfo = #{insuranceInfo},
			 rentCarNote = #{rentCarNote}, cancelAndRefund = #{cancelAndRefund} , id = #{id}
			 
		where carNo = #{carNo}
		
	</update>
	<!-- 차량 옵션 수정 -->
	<update id="updateCarOption">
		update 
			caroption
		set
			 carNo = #{carNo,jdbcType=VARCHAR}, smoking = #{smoking,jdbcType=VARCHAR} , navigation = #{navigation,jdbcType=VARCHAR}, blackbox = #{blackbox,jdbcType=VARCHAR},
			 rearCamera = #{rearCamera,jdbcType=VARCHAR}, rearSensor = #{rearSensor,jdbcType=VARCHAR} , sunroof = #{sunroof,jdbcType=VARCHAR}, bluetooth = #{bluetooth,jdbcType=VARCHAR},
			 heatingSheet = #{heatingSheet,jdbcType=VARCHAR}, heatingHandle = #{heatingHandle,jdbcType=VARCHAR} , leatherSheet = #{leatherSheet,jdbcType=VARCHAR}, driverAirbag = #{driverAirbag,jdbcType=VARCHAR},
			 smartKey = #{smartKey,jdbcType=VARCHAR}, usb = #{usb,jdbcType=VARCHAR} , aux = #{aux,jdbcType=VARCHAR}, dmb = #{dmb,jdbcType=VARCHAR}
			 
		where carNo = #{carNo}
		
	</update>
	<!-- 파일업로드 db 삭제 -->
	<delete id="deleteCarFileUpload">
	delete car_FileUpload where carNo = #{carNo}
	</delete>
	
	<!-- 회사 삭제 -->
	<delete id="deleteCompany">
	delete rentCarCompany where companyNo = #{companyNo}
	</delete>
	<!-- 회사 삭제시 모든 파일 삭제됨에 따라 파일도 삭제하기위 정보 가져오기 -->
	<select id="getDeleteFileUpload" resultType="com.hallabong.rentcarboard.domain.CarFileUploadVO">
	select cfup.carno, cfup.orgfilename, cfup.filename, cfup.filesize, cfup.realsavepath
	from car_fileupload cfup, rentcarcompany rcc, cars cars
	where cfup.carno = cars.carno and cars.companyno = #{companyNo} and rcc.companyno = #{companyNo}
	</select>
	
	<!-- 차량삭제 -->
	<delete id="deleteCar">
	delete cars where carNo = #{carNo}
	</delete>
</mapper>
